@font-face {
font-family: LibertyBT;
src: url("../fonts/Liberty BT.otf") format("opentype");
}
body {
    background-image: url("../images/bg.jpg"); 
}

.header{
    background-color: #6e280e;
    border-radius: 3px;
    margin: 5px 0;
    overflow-x: hidden;
    font-family: LibertyBT;    
}
.header>div:first-child{
    border-bottom: 5px solid #cb5c53;
    margin-left: 0;
}
/*костыль для рамки-изображения в колонках*/
.logo{
    border: 40px solid transparent;
    border-image: url("../images/logoBorder.png") 35 35 stretch;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
    line-height: 0.5;
}
@media screen and (max-width: 992px)and (min-width: 769px) {
    .logo{
    font-size: 60px;
    line-height: 1;
    }
}
@media screen and (max-width: 768px) {
    .logo{
    font-size: 40px;
    line-height: 1;
    }
}
.shopingCart{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.shopingCart:hover{
    background-color: #cd844d
}
.shopingCart div{
    text-align: justify;
}
.navigation{
    background-color: #6e280e;
    margin: 0 -15px;
    font-size: 52px;
    color: white;
}
.navigation a{
    text-align: center;
    cursor: pointer;
}
.navigation a:hover{
    background-color: #cd844d
}

.contentRow{
    background-color: rgba(204, 133, 79,.8);
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
    color: white;
}

.map iframe{
    width: 100%;
    height: 350px;
    border: double 10px #5c471e;
}

.contacts{
    padding: 10px !important;
    font-weight: bolder;
    font-size: 25px;
}

.contacts span{
    font-style: italic;
}

.merch{
    outline: solid 4px #5c471e;
    outline-offset: -8px;
    padding: 8px !important;
    background-color: rgba(110, 40, 14, .8);
    background-clip:content-box;
    font-weight: bolder;
    font-size: 25px;
    font-style: italic;
    cursor: pointer;
}
.merch:hover{
    background-color: rgba(110, 40, 14, .9);
}

.merch img{
    width: 100%;    
}

.merch p{
    margin: 10px;  
}

.search{
    padding: 5px !important;
}

.search [type="button"]{
    width: 250px;
}

.catId, .keywords{
    width: calc(100% - 255px);
}

.actions{
    font-family: LibertyBT; 
    color: white;
    font-size: 35px;
    font-weight: bolder;
    background-color: rgba(110, 40, 14, .8);
    padding:0;
    margin: 3px 0 3px 0;
    border-radius: 3px;
}

.actions img{
    width: 100%;
    margin: auto;
}

.offerList{
    max-width: 750px;
    background-color: rgba(110, 40, 14, .5);
    padding: 10px !important;
    border-radius: 3px;
    font-family: LibertyBT;
    font-size: 35px;
}

.offerList li{
    border-bottom: solid white 1px;
}

.offerList span{
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 1.2em;
    cursor: pointer;
}

.offerList span:hover{
    font-weight: bolder;
}

.offerList [type="text"]{
    color: white;
    border: none; 
    border-bottom: 1px solid white;
    background: transparent;
    width: 100%;
}

.offerList [type="text"]:invalid{
    color:#FFCCCC;
    box-shadow: none;
}

.offerList [type="text"]:valid{
    color:#E2FFBD;
}

.offerList [type="submit"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: white;
    border: none;
    border-bottom: solid white 1px;
    cursor: pointer;
}

.offerList [type="submit"]:hover{
    font-weight: bolder;
}

.addMerchLayout{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
    opacity:0;
}

.addMerchLayout .col{
    max-width: 400px;
    background-color: rgba(110, 40, 14, .5);
    padding: 10px !important;
    border-radius: 3px;
    font-family: LibertyBT;
    font-size: 35px;
}

.addMerchLayout input{
    width: 100%;
    text-align: center;
}